Course 2 - Week02 - Day02 - Practice Exercise
------------------

1. Define the python function to swap first and last value of the given list.

**Use the list given below:**
    
my_list = [15, 78, 10, 45, 89]

In [70]:
def swap_fun(l):
    l[0],l[-1]=l[-1],l[0]

In [74]:
l=[15, 78, 10, 45, 89]
swap_fun(l)
print(l)

[89, 78, 10, 45, 15]

### 2. Define the python function to check whether the number 33 is even or odd.

In [23]:
def iseven(x):
    if x%2==0:
        print('even')
    else:
        print('odd')

In [24]:
iseven(33)

odd


### 3. Define the python function to calculate the factorial of the number.

In [64]:
def factorial(x):
    res=1
    for i in range(x,0,-1):
        res=res*i
    return res

In [65]:
factorial(4)

24

### 4. Write the python function to get the unique values from the given list.

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [33]:
def unique_value(l):
    return set(l)

In [34]:
my_list = [1,2,3,3,11,34,3,3,4,5]
unique_value(my_list)

{1, 2, 3, 4, 5, 11, 34}

### 5. Define the python function which adds two global numeric variables (1204 and 344536) Without Argument.

In [36]:
global a,b
a=1204
b=344536
def add_global_num():
    return a+b

In [37]:
add_global_num()

345740

### 6. Find the minimum of the two numbers(34 and 78) using the lambda function.

In [38]:
min_fun=lambda x,y:min(x,y)
min_fun(34,78)

34

### 7. Calculate the square of each element from the given tuple using the map function.

**Use the tuple given below:**

number = (11, 21, 30, 34)

In [39]:
number = (11, 21, 30, 34)
list(map(lambda x:x**2,number))

[121, 441, 900, 1156]

### 8. Read the given sentence and print the length of each word in a sentence in a list using the map function.

**Use the sentence given below :**

**sentence = 'Python for Data Science'**

In [40]:
sentence = 'Python for Data Science'
list(map(lambda x:len(x),sentence.split()))

[6, 3, 4, 7]

### 9. Find the remainder of all the numbers present in a list after dividing by 5. (make use of map function)

**Use the list given below:**
    
numbers = [ 74, 85, 14, 23 ]

In [42]:
numbers = [ 74, 85, 14, 23 ]
l=list(map(lambda x:x%5,numbers))
l

[4, 0, 4, 3]

### 10. Concatenate elements from the list1 with the corresponding element of list2. (make use of map function)

**Use the list given below:**

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

In [43]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]
#list3=str(list2)
l4=list(map(lambda x,y:str(x)+str(y),list1,list2))
l4

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

### 11. Find the common elements from the given array using filter method.

**Use the array given below:**
    
arr1 = ['t','u','t','o','r','i','a','l']

arr2 = ['p','o','i','n','t']

In [44]:
arr1 = ['t','u','t','o','r','i','a','l']

arr2 = ['p','o','i','n','t']

list(filter(lambda x:x in arr1,arr2))

['o', 'i', 't']

### 12. Remove odd numbers from the given list.

**Use the list given below:**
    
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [45]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

list(filter(lambda x:x%2==0,numbers))

[110, 352, 278]

### 13. Calculate the sum of the numbers from 1 to 100. (make use of reduce function from functools library)

In [47]:
from functools import reduce
reduce(lambda x,y:x+y,range(1,101))

5050

### 14. Determine the maximum of a given list using reduce function

**Use the list given below:**
    
my_list = [47,11,42,102,13]

In [53]:
my_list = [47,11,42,102,13]
reduce(lambda x,y:max(x,y),my_list)

102

---------
### Happy Learning :)
--------