![GL new logo .svg]()

Proprietary content. Â© Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

# Course 2 - Week 01 - Python Project 01 - Practice Project

------------------------------------------------------------------------------------------------------------------------------

### Learning Objective:
- Variables and datatypes.
- Data Structures, Operators.
- Conditional statements & control flow

-------------------------------------------------------------------------------------------------------------------------------

### 1. Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [1]:
print("A\nB\nC")

A
B
C

### 2. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.

In [4]:
s='python'
i=5.5
b=True
print(type(s),type(i),type(b))

if type(i)==int:
    print("whole number")
else:
    print("decimal number")

<class 'str'> <class 'float'> <class 'bool'>
decimal number

### 3. Create a complex number and assign it the name 'comp_var' and check its datatype.

In [5]:
comp_var=2+3j
type(comp_var)

complex

### 4. Convert a float variable f = 88.63 to integer.

In [5]:
f=88.63
#int(f)
print(int(f))

88

### 5. Create a numeric variable and convert it to a string.

In [15]:
a=123
type(a)
str(a)
type(str(a))
#print(str(a))

str

### 6. Create two strings and concatenate them using '+' operator.

In [9]:
s1="naresh"
s2="yalamala"
s3=(s1+s2)
print(s3)

nareshyalamala

### 7. Create a string with the name 'Bengaluru' and 'Great Learning' as its element. Perform the following on it:
- Find its length.
- Extract it first two letters.

In [10]:
n1='Bengaluru'
n2='Great Learning'
len(n1)
len(n2)
print(n1[0:2])
print(n2[0:2])

Be
Gr

### 8. Given the string 'Today is a rainy day.'
- Write a code to get 'is' and 'day'.
- Obtain the last two letters.
- Write the statement backwards.

In [8]:
s='Today is a rainy day'
#s.find('is')
#s.find('day')
s[-2:-1]
s[-2:]
#s.endswith("day")
print(s[::-1])

l=s.split(' ')
l[1]
l[-1]

yad yniar a si yadoT

'day'

### 9. Write a program to perform following list operations on the list given below:

- a. Check the length of mix_list_1
- b. Check the membership of 'Data' in mix_list_1
- c. Concatenate the mix_list_1 and mix_list_2
- d. Repeat the mix_list_2 two times

**Lists to perform operations:**

mix_list_1 = ['Data', 'Analysis', 100, 'Python', True, 9098]

mix_list_2 = ['List operations', 101, 789]

In [10]:
mix_list_1 = ['Data', 'Analysis', 100, 'Python', True, 9098]

mix_list_2 = ['List operations', 101, 789]
#len
print(len(mix_list_1))

#concatenate 
s=mix_list_1 + mix_list_2
print(s)
#check 'Data' membership in mix_list1
mix_list_1[0]
'Data' in mix_list_1
#Repeat the mix_list2 two times
mix_list_2=mix_list_2*2
print(mix_list_2)

6
['Data', 'Analysis', 100, 'Python', True, 9098, 'List operations', 101, 789]
['List operations', 101, 789, 'List operations', 101, 789]

In [11]:
'Data' in mix_list_1

True

### 10. Write the program to multiply the two lists. (Hint: make use of zip function)

**Lists to perform multiplication:**

num_list_1 = [10, 20, 30, 40]

num_list_2 = [2, 2, 2, 2]

In [40]:
num_list_1 = [10, 20, 30, 40]
num_list_2 = [2, 2, 2, 2]

#list1 = [1, 2, 3]
#list2 = [4, 5, 6]

res = []

for i1, i2 in zip(num_list_1, num_list_2):
    res.append(i1 * i2)

print(res)

[20, 40, 60, 80]

In [2]:
num_list_1 = [10, 20, 30, 40]
num_list_2 = [2, 2, 2, 2]
n=len(num_list_1) #n=4

res=[]
for i in range(4):
    #print(i)
    print(num_list_1(i) * num_list_2(i))

TypeError: 'list' object is not callable

### 11. Write a program to perform following built-in list operations:

- a. Minimum element of the list
- b. Maximum element of the list
- c. Sort the elements (use sort() and sorted() function)
- d. Create a copy of a list
- e. Remove element '-79' from the list

**Use the below list**

num_list = [90, 83, -79, 10, 0, 12]

In [16]:
num_list = [90, 83, -79, 10, 0, 12]
#sort() sorted fun
num_list.sort()
sorted(num_list)
print(num_list)
#copy of a list
num_list.copy()
#remove element '-79'
num_list.remove(-79)
print(num_list)
#min value in list
print("min value element : ", min(num_list))
#max value in list
print("max value element : ", max(num_list))

[-79, 0, 10, 12, 83, 90]
[0, 10, 12, 83, 90]
min value element :  0
max value element :  90

### 12. Manipulating a list:

- a. Add a new element 'Boolean' at index location 0 in the given list
- b. Replace an element 'sets' with 'string' in the given list
- c. Add elements 'int' and 'complex' to the given list

#### Use the below list

datatypes_list = ['list', 'tuples', 'dictionary', 'sets']

In [64]:
datatypes_list = ['list', 'tuples', 'dictionary', 'sets']
#Add a new element 'Boolean' at index location 0 in the given list
datatypes_list.insert(0,'Boolean')
print(datatypes_list)
#Replace an element 'sets' with 'string' in the given list
datatypes_list[4]='string'
print(datatypes_list)
#Add elements 'int' and 'complex' to the given list
datatypes_list.append('int')
print(datatypes_list)
datatypes_list.append('complex')
print(datatypes_list)

['Boolean', 'list', 'tuples', 'dictionary', 'sets']
['Boolean', 'list', 'tuples', 'dictionary', 'string']
['Boolean', 'list', 'tuples', 'dictionary', 'string', 'int']
['Boolean', 'list', 'tuples', 'dictionary', 'string', 'int', 'complex']

### 13. Write a code to perform operations on tuple:

- a. Check the length of num_tuple
- b. Concatenate the num_tuple and mix_tuple
- c. Repeat the mix_tuple two times

**Tuples to perform operations:**

num_tuple = (23, 43, 56)

mix_tuple = (-90, 'string', 979)

In [67]:
num_tuple = (23, 43, 56)

mix_tuple = (-90, 'string', 979)
#Check the length of num_tuple
print(len(num_tuple))
#Concatenate the num_tuple and mix_tuple
s=num_tuple+mix_tuple
print(s)
#Repeat the mix_tuple two times

s1=mix_tuple*2
print(s1)

3
(23, 43, 56, -90, 'string', 979)
(-90, 'string', 979, -90, 'string', 979)

### 14. Replace the elements in the given tuple:

- Replace 'sets' with 'strings'

**Use the tuple below:**

my_tuple = ('list', 'sets', 'dict', 'tuple')

In [72]:
my_tuple = ('list', 'sets', 'dict', 'tuple')
l=list(my_tuple)
type(l)
l[1]='strings'
print(l)

['list', 'strings', 'dict', 'tuple']

### 15. Write the program to perform following manipulations:

- a. Add '789' to the given set
- b. Remove '10' from a given set
- c. Clear the set

**Use the below set for manipulation**

my_set = {10, 67, 45, 89, 90}

In [77]:
my_set = {10, 67, 45, 89, 90}
#Add '789' to the given set
my_set.add('789')
print(my_set)
#Remove '10' from a given set
my_set.remove(10)
print(my_set)
#Clear the set
my_set.clear()
print(my_set)

{67, 90, '789', 89, 10, 45}
{67, 90, '789', 89, 45}
set()

### 16. Create two sets of words from the given sentences and perform the following operations:

- a. Find the count of unique words in each of the sentence
- b. Find the common words in both the sentences

**Use the sentences given below:**
    
sentence_1 = 'Let us perform some set operations' 

sentence_2 = 'set is one of the inbuilt datatype in python'

In [80]:
sentence_1 = 'Let us perform some set operations'

sentence_2 = 'set is one of the inbuilt datatype in python'

# Find the count of unique words in each of the sentence

sentence_1 = sentence_1.split()
sentence_2 = sentence_2.split()

common = set(sentence_1).intersection( set(sentence_2) )
print(common)

unique = set(sentence_1).symmetric_difference( set(sentence_2) )
print(unique)

{'set'}
{'Let', 'perform', 'in', 'operations', 'one', 'some', 'inbuilt', 'is', 'datatype', 'python', 'us', 'of', 'the'}

In [18]:
sentence_1 = 'Let us perform some set operations'

sentence_2 = 'set is one of the inbuilt datatype in python'

ls1=set(sentence_1.split())
len(ls1)

6

In [19]:
ls2=set(sentence_2.split())
len(ls2)

9

### 17. Write a program to perform following set operations:

- a. Union
- b. Intersection
- c. Set of all the elements of set A that are not in set B
- d. Set of all the elements of set B that are not in set A

**Use the below set:**

A = {27, 19, 82, 76, 89, 34, 66, 89}

B = {12, 70, 66, 76, 22}

In [87]:
A = {27, 19, 82, 76, 89, 34, 66, 89}

B = {12, 70, 66, 76, 22}
#Union
C=A.union(B)
print(C)
#Intersection
D=A.intersection(B)
print(D)

#Set of all the elements of set A that are not in set B
E=A.difference(B)
print(E)

{34, 66, 70, 76, 12, 82, 19, 22, 89, 27}
{66, 76}
{34, 82, 19, 89, 27}

### 18. Write a code to add a key to a dictionary

**Use the given dictionary and add a key (20:4)**

my_dict = {100:10, 200:20, 300:30}

In [101]:
my_dict = {100:10, 200:20, 300:30}
my_dict[20] = 4
print(my_dict)

{100: 10, 200: 20, 300: 30, 20: 4}

### 19. Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {'Fruits':''Apple','Quanitity':12, 'Veggies':'Broccoli','Price':20 }

In [124]:
mix_dictionary = {'Fruits':''Apple','Quanitity':12, 'Veggies':'Broccoli','price':20}
mix_dictionary.

SyntaxError: unterminated string literal (detected at line 1) (2834368249.py, line 1)

In [23]:
mix_dictionary = {'Fruits':'Apple','Quanitity':12, 'Veggies':'Broccoli','Price':20 }
mix_dictionary.keys()
mix_dictionary.values()

dict_values(['Apple', 12, 'Broccoli', 20])

### 20. Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [108]:
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record.get('Age')

27

### 21. Write a program to create a dictionary using given keys and values. (Hint: make use of zip function)

**Use the keys and values to create a dictionary**

keys = ['Fruits', 'Quanitity', 'Veggies', 'Price']

values = ['Apple', 12, 'Broccoli', 20]

In [120]:
keys = ['Fruits', 'Quanitity', 'Veggies', 'Price']

values = ['Apple', 12, 'Broccoli', 20]
d = {k:v for k,v in zip(keys,values)}
print(d)

{'Fruits': 'Apple', 'Quanitity': 12, 'Veggies': 'Broccoli', 'Price': 20}

### 22. Set the city of an customer as 'Bangalore' in the given customer record

**Use the dictionary**

cust_record = {'Cust_ID': 'C001', 'Phno': 9880790675, 'Age': 22, 'Profession': 'Data analyst'}

In [116]:
cust_record = {'Cust_ID': 'C001', 'Phno': 9880790675, 'Age': 22, 'Profession': 'Data analyst'}
cust_record['City']='Bangalore'
print(cust_record)

{'Cust_ID': 'C001', 'Phno': 9880790675, 'Age': 22, 'Profession': 'Data analyst', 'City': 'Bangalore'}

### 23. Write a program to check whether a given number is multiple of 7 (use if statement)

In [21]:
Num=int(input("Enter the num"))
if Num*7:
    print('The given number is multiply with 7')
#else:
   # print('The given number is not multiply with 7')

Enter the num6
The given number is multiply with 7

### 24. Write a code to print the maximum of two numbers (use if-else). Take input from the user.

In [24]:
a=int(input("Enter number"))
b=int(input("Enter number"))
if a>b:
    print("maxmum number")
else:
    print("it's not a max num")

Enter number8
Enter number6
maxmum number

### 25. Write a program to check whether a number is positive, negative or zero (use if-elif). Take input from the user

In [30]:
num = int(input("Input a number: "))
if num > 0:
   print("It is positive number")
elif num == 0:
   print("It is Zero")
else:
   print("It is a negative number")

Input a number: 0
It is Zero

### 26. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.

In [21]:
n = int(input("enter number"))
a = 0
b = 1

while n>0:
    print(a)
    c=a+b
    a=b
    b=c
    n=n-1

enter number5
0
1
1
2
3

### 27. Write a code to find factorial of a number (take the input from user).

In [18]:
a=int(input("Enter number"))
fact=1
for i in range(1,a+1):
    fact=fact*i
    print(fact)

Enter number6
1
2
6
24
120
720

### 28. Write a program to check whether a number is prime or not (take the input from user)

In [10]:
n=int(input("Enter the number"))
if n > 1:
	for i in range(2, int(n/2)+1):
		if (n % i) == 0:
			print(n, "is not a prime number")
		break
	else:
		print(n, "is a prime number")
# If the number is less than 1, its also not a prime number.
else:
	print(n, "is not a prime number")

Enter the number5

In [13]:
x=int(input())
prime_flag=True
for i  in range(2,x):
    if x%i==0:
        prime_flag=False
        break
if prime_flag==True:
    print("it's prime")
else:
    print("it's not prime")

17
it's prime

### 29. Use list comprehension to obtain the square of first 10 natural numbers.

In [1]:
n = int(input())

final_list = [n**2 for n in range(1, n+1)]

print(final_list)

10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
l=[i**2 for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 30. Use list comprehension to find the used vowels in a given sentence.

Use the sentence below:

sentence = 'Data Analytics at Great Learning'

In [16]:
sentence = 'Data Analytics at Great Learning'

for w in sentence:
    if w[0] in 'aeiou':
        print(w)

a
a
a
i
a
e
a
e
a
i

In [20]:
vowels=['a','e','i','o','u']
sentence = 'Data Analytics at Great Learning'
used_vowels=set([letter.lower()  for letter in sentence if letter.lower() in vowels])
print(used_vowels)

{'a', 'i', 'e'}

### 31. Use list comprehension to print numbers divisible by 2 and 3 in between 1 and 100.

In [20]:
for i in range(1,101):
   if((i%2==0) & (i%3==0)):
      print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [21]:
l=[i for i in range(1,101) if i%6==0 ]
print(l)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

### 32. Use list comprehension to extract numbers from a string

**Use the string below"**

string = "hello 6645 World"

In [26]:
string = "hello 6645 World"
numbers = [int(n) for n in str.split(string) if n.isdigit()]
print(numbers)

[6645]

In [25]:
string = "hello 6645 World"
string.split()
[w for w in string.split() if w.isnumeric()==True]

['6645']

In [26]:
s='hello 6645 world7 89'
[l for l in s if l.isnumeric()==True]

['6', '6', '4', '5', '7', '8', '9']

In [41]:
l1=[1,2,3]
l2=[4,5,6]
for (x,y) in zip(l1,l2):
    print(x,y)

1 4
2 5
3 6

In [42]:
for i in range(10):
    if i<=5:
        break
    print(i)

------
### Happy Learning :)
------