In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/main/Movie_collection_Target.csv")

In [ ]:
df

     Collection
0      2.266667
1      2.106667
2      2.980000
3      2.893333
4      3.080000
..          ...
501    2.160000
502    2.040000
503    2.260000
504    2.133333
505    1.933333

[506 rows x 1 columns]

In [ ]:
df2=pd.read_csv("https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/main/Movie_collection_Independent.csv")

In [ ]:
df2

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available,Genre_Thriller,Genre_Drama,Genre_Comedy
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,1,0,0
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,0,0,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,21.2526,78.86,0.427,36624.115,142.6,8.680,8.775,8.620,8.970,6.80,492480,186.96,243.584,27,561,0,0,0,0
502,20.9054,78.86,0.427,33996.600,150.2,8.780,8.945,8.770,8.930,7.80,482875,132.24,263.296,20,600,1,0,0,0
503,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,532239,109.56,243.824,31,576,0,0,0,1
504,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,496077,158.80,303.520,47,607,1,0,0,1
505,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,518438,205.60,203.040,45,604,1,0,0,1

In [ ]:
y=df['Collection']

In [ ]:
X= df2

In [ ]:
X_train,X_test=X[:400],X[400:]
y_train,y_test=y[:400],y[400:]

In [ ]:
X_train

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available,Genre_Thriller,Genre_Drama,Genre_Comedy
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,1,0,0
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,0,0,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,194.3350,91.20,0.307,35946.405,172.3,8.980,9.260,9.085,9.225,7.96,424127,115.24,302.096,29,712,0,0,0,0
396,137.4410,91.20,0.307,35579.775,169.5,9.115,9.180,9.100,9.255,6.96,390048,109.00,222.000,24,685,1,1,0,0
397,173.4404,91.20,0.307,31924.585,172.4,9.135,9.230,9.125,9.240,6.96,384688,185.40,281.360,22,663,0,0,0,1
398,787.0360,91.20,0.307,30291.415,173.5,9.215,9.370,9.105,9.330,6.96,291101,186.00,260.800,26,653,0,0,1,0
399,218.3310,91.20,0.307,32507.860,151.3,9.150,9.380,9.140,9.330,6.96,270691,134.52,281.008,42,613,0,1,0,0

In [ ]:
X_test

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available,Genre_Thriller,Genre_Drama,Genre_Comedy
400,520.9220,91.20,0.307,33257.785,173.5,9.135,9.310,9.040,9.335,7.96,308973,184.24,220.896,30,618,1,0,1,0
401,304.7240,91.20,0.307,35235.365,173.5,9.120,9.330,9.095,9.305,7.96,374897,146.88,201.152,50,703,1,0,0,1
402,211.9142,91.20,0.307,35574.220,173.5,9.170,9.320,9.115,9.120,7.96,359036,108.84,281.936,42,689,0,1,0,0
403,516.0340,91.20,0.307,29713.695,169.5,9.125,9.310,9.060,9.100,6.96,384237,109.00,301.328,40,677,1,1,0,0
404,850.5840,91.20,0.307,30724.705,158.9,9.050,9.220,9.185,9.330,7.96,312011,169.40,221.360,56,615,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,21.2526,78.86,0.427,36624.115,142.6,8.680,8.775,8.620,8.970,6.80,492480,186.96,243.584,27,561,0,0,0,0
502,20.9054,78.86,0.427,33996.600,150.2,8.780,8.945,8.770,8.930,7.80,482875,132.24,263.296,20,600,1,0,0,0
503,21.2152,78.86,0.427,38751.680,164.5,8.830,8.970,8.855,9.010,7.80,532239,109.56,243.824,31,576,0,0,0,1
504,22.1918,78.86,0.427,37740.670,162.8,8.730,8.845,8.800,8.845,6.80,496077,158.80,303.520,47,607,1,0,0,1
505,20.9482,78.86,0.427,33496.650,154.3,8.640,8.880,8.680,8.790,6.80,518438,205.60,203.040,45,604,1,0,0,1

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

LinearRegression()

In [ ]:
lr.predict(X_test.head())

array([1.60919383, 2.05291894, 1.93026991, 1.40613111, 1.33603292])

In [ ]:
np.array(y_test)

array([1.04      , 1.14666667, 1.47333333, 1.22      , 1.23333333,
       1.        , 1.46      , 2.52666667, 1.81333333, 2.5       ,
       1.66666667, 1.81333333, 1.86      , 1.75333333, 1.13333333,
       1.14666667, 1.16666667, 1.36      , 1.25333333, 1.22666667,
       1.78      , 1.61333333, 2.05333333, 1.56      , 1.44666667,
       1.22      , 1.34666667, 1.39333333, 1.4       , 1.3       ,
       1.63333333, 1.60666667, 1.74      , 1.62      , 1.44666667,
       1.56      , 1.30666667, 1.21333333, 1.22666667, 1.52      ,
       1.36666667, 1.80666667, 1.65333333, 1.69333333, 1.38666667,
       1.45333333, 1.66      , 1.50666667, 1.60666667, 1.53333333,
       1.56      , 1.68      , 1.74      , 1.85333333, 1.62666667,
       1.60666667, 1.51333333, 1.56666667, 1.66      , 2.        ,
       1.76      , 1.84666667, 1.96666667, 2.01333333, 2.09333333,
       1.99333333, 1.93333333, 1.94      , 1.94      , 2.00666667,
       1.99333333, 1.97333333, 2.21333333, 2.65333333, 1.58666667,
       1.55333333, 1.78      , 1.46666667, 1.64      , 2.09333333,
       2.2       , 2.24666667, 2.33333333, 2.12      , 2.04      ,
       2.08      , 1.94      , 2.04      , 1.68      , 1.13333333,
       1.20666667, 1.57333333, 2.00666667, 2.12      , 2.3       ,
       2.20666667, 1.98      , 1.88666667, 2.08      , 1.83333333,
       1.78666667, 2.16      , 2.04      , 2.26      , 2.13333333,
       1.93333333])

In [ ]:
lr.score(X_test,y_test)

-0.332658859107547

In [ ]:
#random forest_regression_model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rd=RandomForestRegressor()

In [ ]:
rd.fit(X_train,y_train)

RandomForestRegressor()

In [ ]:
rd.predict(X_test)

array([1.34173333, 1.42626667, 1.528     , 1.48273333, 1.26966667,
       1.38233333, 1.5244    , 1.8322    , 1.39953333, 2.6214    ,
       2.9234    , 1.54933333, 1.29326667, 1.38493333, 1.35866667,
       1.42146667, 1.67773333, 1.36953333, 1.41193333, 1.9446    ,
       1.6528    , 1.6912    , 2.06313333, 1.6772    , 1.68446667,
       1.5722    , 1.6714    , 1.74213333, 1.65906667, 1.53586667,
       1.71586667, 2.37333333, 2.16706667, 1.9066    , 1.709     ,
       1.57633333, 1.66886667, 1.469     , 1.4294    , 1.54533333,
       1.509     , 1.65486667, 1.74413333, 1.58353333, 1.50253333,
       1.5774    , 1.787     , 1.63206667, 1.70246667, 1.71833333,
       1.9534    , 1.78246667, 1.9188    , 2.3838    , 1.83726667,
       1.90593333, 1.7746    , 1.801     , 1.77173333, 1.88046667,
       2.02326667, 1.90826667, 2.12846667, 2.24133333, 2.168     ,
       1.93093333, 1.79333333, 1.71733333, 1.6276    , 1.77633333,
       1.90726667, 2.06626667, 1.97586667, 3.0026    , 1.65206667,
       1.6234    , 1.7708    , 1.51293333, 1.6788    , 2.10706667,
       2.23186667, 2.7038    , 3.0124    , 2.03406667, 1.96773333,
       2.15893333, 1.89593333, 2.01266667, 1.95733333, 1.76726667,
       1.76313333, 1.8454    , 2.022     , 2.03086667, 2.0698    ,
       2.02553333, 1.9546    , 2.0158    , 2.04713333, 1.9948    ,
       1.99206667, 2.39693333, 2.10566667, 2.7622    , 2.4912    ,
       2.21293333])

In [ ]:
rd.score(X_test,y_test)

0.27830312304819715